:root {
  --toggle-gradient: hsl(230, 22%, 74%);
  --card-bg: hsl(227, 47%, 96%);
  --background: hsl(0, 0%, 100%);
  --pattern: hsl(225, 100%, 98%);
  --primary-text: hsl(228, 12%, 44%);
  --secondary-text: hsl(230, 17%, 14%);
  --overview: hsl(228, 12%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
  background-color: var(--background);
}

main.dashboard-wrapper {
  max-width: 327px;
  margin: 40px auto auto auto;
  text-align: center;
}

li {
  list-style: none;
}

ul.header-title {
  height: 75px;
  width: 100%;
}

li.header-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

li.theme-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

span.theme-title {
  display: flex;
  justify-self: start;
  color: var(--primary-text);
  font-size: 14px;
  align-self: start;
  margin-top: 25px;
}

div.theme-toggle {
  display: flex;
  justify-self: end;
  align-self: start;
  margin-top: 22px;
  border: none;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  position: relative;
  background: var(--toggle-gradient);
}

div.toggle {
  height: 20px;
  width: 20px;
  margin: 3px;
  border: none;
  border-radius: 100%;
  background-color: var(--background);
  transform: translateX(115%);
  transition: 0.4s;
}

input[type=checkbox] {
  inset: 0;
  position: absolute;
  border-radius: 15px;
  z-index: 99999;
  opacity: 0;
}

input[type=checkbox]:checked ~ .toggle {
  transform: translateX(10%);
}

header.main {
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-text);
}

p.header-data {
  color: var(--primary-text);
  font-size: 14px;
}

div.username-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.social-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--card-bg);
  width: 326px;
  height: 219px;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: hover 0.4s;
  position: relative;
}

div.social-card:hover {
  background-color: rgb(212, 214, 226);
  cursor: pointer;
}

div.theme-toggle:hover {
  cursor: pointer;
}

div.social-style {
  height: 4px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: none;
  position: absolute;
  top: 0;
}

div.facebook {
  background-color: rgb(36, 141, 232);
}

div.twitter {
  background-color: rgb(67, 150, 204);
}

div.instagram {
  background: linear-gradient(45deg, hsl(37deg, 97%, 70%), hsl(329deg, 70%, 58%));
}

div.youtube {
  background-color: rgb(144, 25, 53);
}

h1.users-engaged {
  font-size: 52px;
  color: var(--secondary-text);
}

header.username {
  color: var(--primary-text);
  font-size: 14px;
}

div.current-stats {
  display: flex;
  flex-direction: row;
}

i.social-logo-main {
  padding-right: 5px;
}

i.bi-facebook {
  color: rgb(33, 165, 247);
}

i.bi-instagram {
  background: linear-gradient(45deg, hsl(37deg, 97%, 70%), hsl(329deg, 70%, 58%));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

i.bi-caret-down-fill {
  display: flex;
  align-self: center;
  padding-right: 4px;
}

i.bi-caret-up-fill {
  display: flex;
  align-self: center;
  padding-right: 4px;
}

i.bi-twitter {
  color: rgb(33, 165, 247);
}

p.social-data {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: -10px;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text);
}

.up {
  color: rgb(58, 165, 137);
}

.down {
  color: rgb(180, 10, 46);
}

header.secondary {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  color: var(--overview);
  padding-bottom: 30px;
}

div.secondary-social-card {
  display: flex;
  flex-direction: column;
  width: 326px;
  height: 129px;
  background-color: var(--card-bg);
  margin-bottom: 16px;
  border-radius: 5px;
  transition: ease-in-out 0.4s;
}

div.secondary-social-card:hover {
  transform: translateY(-5%);
  background-color: rgb(225, 227, 240);
  cursor: pointer;
}

ul.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-self: flex-start;
  padding: 20px;
}

ul.body-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  padding: 0 20px;
}

li.header-stats:first-child {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text);
}

li.body-stat:first-child {
  font-size: 32px;
  color: var(--secondary-text);
}

li.body-stat:nth-child(2) {
  display: flex;
  font-size: 11px;
  align-self: flex-end;
}

footer.frontend-user {
  width: 100%;
  text-align: center;
  background-color: aliceblue;
  margin-top: 25px;
  color: #000;
}

div.attribution {
  font-size: 11px;
}

div.attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 1200px) {
  main.dashboard-wrapper {
    min-width: 1200px;
  }
  hr {
    display: none;
  }
  nav.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  section.main-dash-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  ul.theme-container {
    display: flex;
    flex-direction: row;
  }
  span.theme-title {
    display: flex;
    margin-top: 33px;
    width: 100px;
  }
  li.theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  div.theme-toggle {
    display: flex;
    margin-top: 30px;
  }
  section.secondary-dash-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  div.secondary-social-card {
    width: 277px;
    height: 125px;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
}/*# sourceMappingURL=styles.css.map */